*{
  margin: 0;
  padding: 0;
  font-family: inherit ,sans-serif;
  color: aliceblue;
}
body{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("https://th.bing.com/th/id/R.990d7d8a80404ec3da4a19fc9a37b3d6?rik=1T8rTtfLzvf3hw&pid=ImgRaw&r=0");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#title{margin-top: 7px;margin-bottom: 5px;}
#description{margin-bottom: 7px;}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#survey-form{
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background-color: rgba(76,0,0,0.7);
  padding: 20px 30px;
}
.in{
  width: 100%;
  height: 35px;
  border: 0.5px solid rgba(76,0,0,0.7);
  border-radius: 5px;
  padding: 0.5px 5px;
  font-size: 18px;
  font-weight: 500;
}
.lab{font-size: 20px;align-self: flex-start;margin: 20px 0 5px 0;}
.in:focus{border-color: rgba(23, 98, 160, 0.7);}

#dropdown{
  width: 102%;
  color: #5a5f64;
}
#dropdown option{
  color: #5a5f64;
}

.ratio{
  height:17px;
  width: 17px;
}
.radio-lab{
  align-self: flex-start;
  margin-bottom: 6px;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.radio-lab span{
  margin-left: 7px;
}
#rat-q{margin-bottom: 8px;}

.chek-div{
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-bottom: 6px;
}
.chek-div input{
  height: 17px;
  width: 17px;
  margin-right: 7px;
}
.chek-div label{
  font-size: 18px;
}
#chek-q{margin-bottom: 8px;}

#Comments{
  min-height: 140px;
  max-height: 140px;
  min-width: 96.5%;
  max-width: 96.5%;
  width: 96.5%;
  align-self: flex-start;
  padding: 10px;
  font-size: 18px;
}

#submit{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  width: 100%;
  padding: 6px auto;
  font-size: 18px;
  background-color: hsl(133, 61%, 42%);
  cursor: pointer;
  border: 0.5px solid hsla(133, 61%, 42%, 0.418);
}